parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter

# Propojení s dalšími konfiguračními soubory.
includes:
    - ../CoreModule/config/config.neon # Načtení konfigurace z CoreModule.
	
	# Konfigurace databázového připojení v rámci celé aplikace.
database:
    dsn: 'mysql:host=127.0.0.1;dbname=nette-rs' # Typ, adresa a název databáze
    user: mikroot     # Uživatelské jméno
    password: mikroot # Heslo
    options:
        lazy: yes